---
- name: heimdall - start
  community.docker.docker_container:
    name: heimdall
    image: "{{ heimdall_image }}"
    pull: true
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ tz }}"
    volumes:
      - "{{ app_path }}/heimdall/config:/config"
    networks:
      - name: "{{ app_network_name }}"
    networks_cli_compatible: true
    labels:
      traefik.enable: "true"
      traefik.http.routers.heimdall.rule: "HostRegexp(`mgmt{fqdn:(.{{ inventory__homelab_domain }})?}`)"
      traefik.http.routers.heimdall.entrypoints: "websecure"
      traefik.http.routers.heimdall.tls: "true"
    restart_policy: unless-stopped
    state: started
  tags: heimdall
