---
- name: portainer - start
  community.docker.docker_container:
    name: portainer
    image: "{{ portainer_image }}"
    pull: true
    ports:
      - "8000:8000"
      - "9000:9000"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ app_path }}/portainer/data:/data"
    networks:
      - name: "{{ app_network_name }}"
    networks_cli_compatible: true
    labels:
      traefik.enable: "true"
      traefik.http.routers.portainer.rule: "HostRegexp(`portainer{fqdn:(.{{ inventory__homelab_domain }})?}`)"
      traefik.http.services.portainer.loadbalancer.server.port: "9000"
      traefik.http.routers.portainer.entrypoints: "websecure"
      traefik.http.routers.portainer.tls: "true"
    command: -H unix:///var/run/docker.sock
    restart_policy: unless-stopped
    state: started
  tags: portainer

- name: portainer - configure freeipa
  ansible.builtin.include_tasks: freeipa_service_bind.yml
  vars:
    freeipa_service_bind_sysaccount_dn: "{{ portainer_ldap_bind_dn }}"
    freeipa_service_bind_sysaccount_pass: "{{ portainer_ldap_bind_pw }}"
    freeipa_service_bind_group_name: "{{ portainer_ldap_access_group }}"
  args:
    apply:
      tags: portainer
  tags: portainer
