smartctl=/usr/sbin/smartctl
cache=/var/cache/smart
useSN=0
{% if inventory_hostname == "spsrv" %}
nvme0n1
sda
sdb
sdc
sdd
sde
sdf
sdg
sdh
sdi
sdj
{% endif %}
{% if inventory_hostname == "spmini" %}
nvme0n1
{% endif %}
{% if inventory_hostname == "spmaxi" %}
nvme0n1
{% endif %}
