agentAddress udp:161,udp6:[::1]:161

rocommunity {{ ro_community }}
syslocation {{ sys_location }}
syscontact  {{ sys_contact }}

extend .1.3.6.1.4.1.2021.7890.1 distro /etc/snmp/extend/distro
extend proxmox /usr/bin/sudo /etc/snmp/extend/proxmox
extend smart /etc/snmp/extend/smart
{% if inventory_hostname == "spsrv" %}
extend ups-nut /etc/snmp/extend/ups-nut.sh
{% endif %}
