[snapraid]
; path to the snapraid executable
executable = {{ snapraid_bin_path }}
; path to the snapraid config to be used
config = {{ snapraid_config_path }}
; abort operation if there are more deletes than this, set to -1 to disable
deletethreshold = {{ snapraid_delete_threshold }}
; if you want touch to be run each time
touch = {{ snapraid_touch }}

[logging]
; logfile to write to, leave empty to disable
file = {{ snapraid_log_path }}
; maximum logfile size in KiB, leave empty for infinite
maxsize = {{ snapraid_log_size }}

[email]
; when to send an email, comma-separated list of [success, error]
sendon = {{ snapraid_email_sendon }}
; set to false to get full program output via email
short = true
subject = [SnapRAID] Status Report:
from = {{ snapraid_smtp_username }}
to = {{ snapraid_email_address_to }}
; maximum email size in KiB
maxsize = 20000

[smtp]
host = {{ snapraid_smtp_host }}
; leave empty for default port
port = {{ snapraid_smtp_port }}
; set to "true" to activate
ssl = false
tls = {{ snapraid_smtp_tls }}
user = {{ snapraid_smtp_username }}
password = {{ snapraid_smtp_password }}

[scrub]
; set to true to run scrub after sync
enabled = {{ snapraid_run_scrub }}
; scrub plan - either a percentage or one of [bad, new, full]
plan = {{ snapraid_run_scrub_plan }}
; minimum block age (in days) for scrubbing. Only used with percentage plans
older-than = {{ snapraid_run_scrub_age }}
