bitwarden_url = "{{ bitwarden_domain }}"
bitwarden_admin_token = "{{ bitwarden_admin_token }}"
ldap_host = "{{ freeipa_hostname }}"
ldap_bind_dn = "{{ bitwarden_ldap_bind_dn }}"
ldap_bind_password = "{{ bitwarden_ldap_bind_pw }}"
ldap_search_base_dn = "{{ freeipa_base_dn }}"
ldap_search_filter = "{{ bitwarden_ldap_filter }}"
ldap_mail_field = "mail"
ldap_sync_interval_seconds = 3600
ldap_sync_loop = true
