url="{{ vault_ldap_url }}" \
binddn="{{ vault_ldap_bind_dn }}" \
bindpass="{{ vault_ldap_bind_pw }}" \
userdn="{{ inventory__ldap_users_dn }}" \
userattr="{{ vault_ldap_user_attr }}" \
userfilter="{{ vault_ldap_user_filter }}" \
groupdn="{{ inventory__ldap_groups_dn }}" \
groupattr="{{ vault_ldap_group_attr }}" \
groupfilter="{{ vault_ldap_group_filter }}"
