<?php

$config['email_backend'] = 'smtp';
$config['email_smtp_secure'] = 'tls';
$config['email_auto_tls'] = true;
$config['email_smtp_timeout'] = 10;
$config['email_html'] = true;
$config['email_smtp_auth'] = true;
$config['email_smtp_host'] = '{{ smtp_host }}';
$config['email_smtp_port'] = '{{ smtp_port }}';
$config['email_smtp_username'] = '{{ smtp_user }}';
$config['email_smtp_password'] = '{{ smtp_pass }}';
$config['email_from'] = '{{ smtp_user }}';
$config['email_user'] = '{{ librenms_domain }}';

$config['auth_mechanism'] = 'ldap';
$config['auth_ldap_debug'] = false;
$config['auth_ldap_version'] = 3;
$config['auth_ldap_timeout'] = 5;
$config['auth_ldap_cache_ttl'] = 300;

$config['auth_ldap_server'] = '{{ inventory__ldap_domain }}';
$config['auth_ldap_port'] = {{ inventory__ldap_port }};
$config['auth_ldap_starttls'] = true;
$config['auth_ldap_binduser'] = '';
$config['auth_ldap_binddn'] = '{{ librenms_ldap_bind_dn }}';
$config['auth_ldap_bindpassword'] = '{{ librenms_ldap_bind_pw }}';

$config['auth_ldap_emailattr'] = 'mail';
$config['auth_ldap_uid_attribute'] = 'uidnumber';
$config['auth_ldap_attr']['uid'] = 'uid';
$config['auth_ldap_prefix'] = 'uid=';
$config['auth_ldap_suffix'] = ',{{ inventory__ldap_users_dn }}';

$config['auth_ldap_groupbase'] = '{{ inventory__ldap_groups_dn }}';
$config['auth_ldap_groups']['{{ librenms_ldap_admins }}']['level'] = 10;
$config['auth_ldap_groups']['{{ librenms_ldap_admins_ro }}']['level'] = 5;
$config['auth_ldap_groups']['{{ librenms_ldap_users }}']['level'] = 1;
$config['auth_ldap_groupmemberattr'] = 'member';
$config['auth_ldap_groupmembertype'] = 'fulldn';
$config['auth_ldap_userdn'] = true;
$config['auth_ldap_wildcard_ou'] = false;

$config['enable_proxmox'] = 1;

$config['int_customers'] = 0; # Hide Customer Port Parsing
$config['int_transit'] = 0; # Hide Transit Types
$config['int_peering'] = 0; # Hide Peering Types
$config['int_core'] = 0; # Hide Core Port Types
$config['int_l2tp'] = 0; # Hide L2TP Port Types

$config['fping_options']['count'] = 4;
$config['fping_options']['interval'] = 1000;
$config['fping_options']['timeout'] = 1000;
