[[servers]]
host = "{{ ldap_server_host }}"
port = {{ ldap_server_port }}
use_ssl = true
start_tls = true
ssl_skip_verify = true

bind_dn = "{{ grafana_ldap_bind_dn }}"
bind_password = "{{ grafana_ldap_bind_pw }}"

search_filter = "{{ grafana_ldap_access_filter }}"
search_base_dns = ["{{ ldap_search_base_users }}"]

group_search_base_dns = ["{{ ldap_search_base_groups }}"]

[servers.attributes]
name = "givenName"
surname = "sn"
username = "uid"
member_of = "memberOf"
email =  "mail"

[[servers.group_mappings]]
group_dn = "{{ grafana_ldap_admins_dn }}"
org_role = "Admin"
grafana_admin = true

[[servers.group_mappings]]
group_dn = "{{ grafana_ldap_editors_dn }}"
org_role = "Editor"

[[servers.group_mappings]]
group_dn = "{{ grafana_ldap_viewers_dn }}"
org_role = "Viewer"
