global:
  scrape_interval: 15s
  external_labels:
    monitor: 'homelab-monitor'

scrape_configs:
  - job_name: 'prometheus'
    scheme: https
    static_configs:
      - targets: ['prometheus.{{ inventory__homelab_domain }}']

  # - job_name: 'loki'
  #   scheme: https
  #   static_configs:
  #     - targets: ['loki.{{ inventory__homelab_domain }}']

  # - job_name: 'grafana'
  #   scheme: https
  #   static_configs:
  #     - targets: ['grafana.{{ inventory__homelab_domain }}']

  - job_name: 'cadvisor'
    scheme: https
    static_configs:
      # - targets: ['pihole.{{ inventory__homelab_domain }}']
      # - targets: ['projects.{{ inventory__homelab_domain }}']
      # - targets: ['mail.{{ inventory__homelab_domain }}']
      - targets: ['dev.{{ inventory__homelab_domain }}']
      - targets: ['mgmt.{{ inventory__homelab_domain }}']
      - targets: ['plex.{{ inventory__homelab_domain }}']
      - targets: ['rp.{{ inventory__homelab_domain }}']
      - targets: ['spnas.{{ inventory__homelab_domain }}']
      - targets: ['stats.{{ inventory__homelab_domain }}']
      - targets: ['ha.{{ inventory__homelab_domain }}']

  - job_name: 'traefik'
    scheme: https
    static_configs:
      # - targets: ['traefik-pihole.{{ inventory__homelab_domain }}']
      # - targets: ['traefik-mail.{{ inventory__homelab_domain }}']
      # - targets: ['traefik-projects.{{ inventory__homelab_domain }}']
      - targets: ['traefik-dev.{{ inventory__homelab_domain }}']
      - targets: ['traefik-mgmt.{{ inventory__homelab_domain }}']
      - targets: ['traefik-plex.{{ inventory__homelab_domain }}']
      - targets: ['traefik-spnas.{{ inventory__homelab_domain }}']
      - targets: ['traefik-stats.{{ inventory__homelab_domain }}']
      - targets: ['traefik-ha.{{ inventory__homelab_domain }}']

  # - job_name: 'drone'
  #   scheme: https
  #   bearer_token: "{{ prometheus_drone_bearer_token }}"
  #   static_configs:
  #   - targets: ['drone.{{ inventory__site }}']

  - job_name: 'gitea'
    scheme: https
    bearer_token: "{{ prometheus_gitea_bearer_token }}"
    static_configs:
    - targets: ['git.{{ inventory__site }}']

  # - job_name: 'gia-api'
  #   scheme: https
  #   static_configs:
  #     - targets: ['gia-api.{{ inventory__site }}']

  # - job_name: 'node-exporter'
  #   static_configs:
  #     - targets: ['node-exporter:9100']
