global:
  scrape_interval: 15s
  external_labels:
    monitor: 'homelab-monitor'

scrape_configs:
  - job_name: 'prometheus'
    scheme: https
    static_configs:
      - targets: ['prometheus.home.devmem.ru']

  - job_name: 'loki'
    scheme: https
    static_configs:
      - targets: ['loki.home.devmem.ru']

  - job_name: 'grafana'
    scheme: https
    static_configs:
      - targets: ['grafana.home.devmem.ru']

  - job_name: 'cadvisor'
    scheme: https
    static_configs:
      - targets: ['dev.home.devmem.ru']
      - targets: ['mail.home.devmem.ru']
      - targets: ['mgmt.home.devmem.ru']
      - targets: ['pihole.home.devmem.ru']
      - targets: ['plex.home.devmem.ru']
      - targets: ['projects.home.devmem.ru']
      - targets: ['rp.home.devmem.ru']
      - targets: ['spnas.home.devmem.ru']
      - targets: ['stats.home.devmem.ru']

  - job_name: 'traefik'
    scheme: https
    static_configs:
      - targets: ['traefik-dev.home.devmem.ru']
      - targets: ['traefik-mail.home.devmem.ru']
      - targets: ['traefik-mgmt.home.devmem.ru']
      - targets: ['traefik-pihole.home.devmem.ru']
      - targets: ['traefik-plex.home.devmem.ru']
      - targets: ['traefik-projects.home.devmem.ru']
      - targets: ['traefik-spnas.home.devmem.ru']
      - targets: ['traefik-stats.home.devmem.ru']

  - job_name: 'drone'
    scheme: https
    bearer_token: "{{ prometheus_drone_bearer_token }}"
    static_configs:
    - targets: ['drone.devmem.ru']

  - job_name: 'gitea'
    scheme: https
    bearer_token: "{{ prometheus_gitea_bearer_token }}"
    static_configs:
    - targets: ['git.devmem.ru']

  # - job_name: 'node-exporter'
  #   static_configs:
  #     - targets: ['node-exporter:9100']
