{
  "log": {
    "loglevel": "warning"
  },
  "routing": {
    "rules": [],
    "domainStrategy": "AsIs"
  },
  "inbounds": [
    {
      "port": {{ inventory__xray_config.port }},
      "protocol": "vless",
      "settings": {
        "clients": {{ inventory__xray_config.clients | to_nice_json(indent=2) | indent(width=8, first=false) }},
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "{{ inventory__xray_config.server_name }}:{{ inventory__xray_config.port }}",
          "xver": 0,
          "serverNames": [
            "{{ inventory__xray_config.server_name }}"
          ],
          "privateKey": "{{ inventory__xray_config.private_key }}",
          "minClientVer": "",
          "maxClientVer": "",
          "maxTimeDiff": 0,
          "shortIds": [
            "{{ inventory__xray_config.short_id }}"
          ]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls"]
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}
