# Ansible
ansible-core
ansible-lint
docker
jmespath
git+https://github.com/mitogen-hq/mitogen@master#egg=mitogen
paramiko
python-ldap
yamllint
netaddr
passlib

# Python
pexpect
python-dateutil
python-dotenv
requests

# Dev
pre-commit
djlint
