---
- name: grafana - create dir
  ansible.builtin.file:
    path: "{{ app_path }}/grafana/{{ item }}"
    state: directory
    recurse: true
  loop:
    - "config/provisioning/dashboards"
    - "config/provisioning/datasources"
    - "config/provisioning/notifiers"
    - "data"
  tags: grafana

- name: grafana - copy files
  ansible.builtin.template:
    src: ldap.toml.j2
    dest: "{{ app_path }}/grafana/config/ldap.toml"
    mode: 0644
  notify: grafana - restart
  tags: grafana

- name: grafana - copy files
  ansible.builtin.copy:
    src: files/{{ item }}
    dest: "{{ app_path }}/grafana/config/{{ item }}"
    mode: 0644
  notify: grafana - restart
  loop:
    - "provisioning/datasources/datasources.yml"
  tags: grafana

- name: grafana - get data dir ownership
  ansible.builtin.stat:
    path: "{{ app_path }}/grafana/data"
  register: grafana_data
  tags: grafana

- name: grafana - set data dir ownership  # noqa deprecated-command-syntax
  ansible.builtin.command: >
    chown -R 472:472 {{ app_path }}/grafana/data
  when: grafana_data.stat.uid != 472 or grafana_data.stat.gid != 472
  tags: grafana

- name: grafana - start
  community.docker.docker_container:
    name: grafana
    image: "{{ grafana_image }}"
    pull: true
    env:
      GF_AUTH_LDAP_ENABLED: "true"
      GF_SMTP_ENABLED: "true"
      GF_SMTP_HOST: "{{ smtp_host }}:{{ smtp_port }}"
      GF_SMTP_USER: "{{ smtp_user }}"
      GF_SMTP_PASSWORD: "{{ smtp_pass }}"
      GF_SMTP_FROM_ADDRESS: "{{ smtp_user }}"
      GF_SMTP_FROM_NAME: "grafana.{{ app_base_domain }}"
      GF_SERVER_ENABLE_GZIP: "true"
    ports:
      - "3000:3000"
    volumes:
      - "{{ app_path }}/grafana/config/provisioning:/etc/grafana/provisioning"
      - "{{ app_path }}/grafana/config/ldap.toml:/etc/grafana/ldap.toml"
      - "{{ app_path }}/grafana/data:/var/lib/grafana"
    networks:
      - name: "{{ app_network_name }}"
    networks_cli_compatible: true
    labels:
      traefik.enable: "true"
      traefik.http.routers.grafana.rule: "HostRegexp(`grafana{fqdn:(.{{ app_base_domain }})?}`)"
      traefik.http.services.grafana.loadbalancer.server.port: "3000"
      traefik.http.routers.grafana.entrypoints: "websecure"
      traefik.http.routers.grafana.tls: "true"
    restart_policy: unless-stopped
    state: started
  register: grafana_start
  tags: grafana
