---
- name: librenms-db - start
  community.docker.docker_container:
    name: librenms-db
    image: "{{ librenms_db_image }}"
    pull: true
    env:
      MYSQL_ROOT_PASSWORD: "{{ librenms_db_root_pass }}"
      MYSQL_DATABASE: "{{ librenms_db_user }}"
      MYSQL_USER: "{{ librenms_db_user }}"
      MYSQL_PASSWORD: "{{ librenms_db_pass }}"
      MYSQL_CHARSET: "utf8mb4"
      MYSQL_COLLATION: "utf8mb4_unicode_ci"
    volumes:
      - "{{ app_path }}/librenms/db:/var/lib/mysql"
    networks:
      - name: "{{ app_network_name }}"
    networks_cli_compatible: true
    command:
      --sql-mode=""
      --lower_case_table_names=0
      --default-time-zone="+03:00"
    restart_policy: unless-stopped
    state: started
  no_log: true
  tags: librenms

- name: librenms - create dir
  ansible.builtin.file:
    path: "{{ app_path }}/librenms"
    state: directory
    recurse: true
  tags: librenms

- name: librenms - copy files
  ansible.builtin.template:
    src: config.custom.php.j2
    dest: "{{ app_path }}/librenms/config.custom.php"
    owner: "997"
    group: "997"
    mode: 0664
  notify: librenms - restart
  tags: librenms

- name: librenms - start
  community.docker.docker_container:
    name: librenms
    image: "{{ librenms_image }}"
    pull: true
    env:
      TZ: "{{ tz }}"
      DB_HOST: "librenms-db"
      DB_NAME: "{{ librenms_db_user }}"
      DB_USER: "{{ librenms_db_user }}"
      DB_PASS: "{{ librenms_db_pass }}"
      APP_KEY: "{{ librenms_app_key }}"
      BASE_URL: "{{ librenms_base_url }}"
    volumes:
      - "{{ app_path }}/librenms/logs/nginx:/var/log/nginx"
      - "{{ app_path }}/librenms/logs/app:/opt/librenms/logs"
      - "{{ app_path }}/librenms/rrd:/opt/librenms/rrd"
      - "{{ app_path }}/librenms/config.custom.php:/opt/librenms/conf.d/config.custom.php"
      - "librenms-storage:/opt/librenms/storage"
      - "librenms-etc-nginx-ssl:/etc/nginx/ssl"
      - "librenms-weathermap-configs:/opt/librenms/html/plugins/Weathermap/configs"
      - "librenms-weathermap-output:/opt/librenms/html/plugins/Weathermap/output"
    networks:
      - name: "{{ app_network_name }}"
    networks_cli_compatible: true
    labels:
      traefik.enable: "true"
      traefik.http.routers.librenms.rule: "HostRegexp(`nms{fqdn:(.{{ app_base_domain }})?}`)"
      traefik.http.routers.librenms.entrypoints: "websecure"
      traefik.http.routers.librenms.tls: "true"
    restart_policy: unless-stopped
    state: started
  register: librenms_start
  notify: librenms - setup_database
  no_log: true
  tags: librenms

- name: librenms - customize
  ansible.builtin.command: >
    docker exec librenms sh -c '{{ item }}'
  changed_when: true
  when: librenms_start.changed
  notify: librenms - restart
  loop:
    - mkdir -p /etc/ldap && echo "TLS_REQCERT allow" > /etc/ldap/ldap.conf
  tags: librenms
