---
# Тип ресурса - vm или ct
resource_type: vm

vmid: 5500
hostname: tpl
net_ip: 192.168.13.55

vm_image: /mnt/pve/spsrv-proxmox/template/qcow2/ubuntu-22.04-server-cloudimg-amd64.img
vm_ostype: l26

ct_template: spsrv-proxmox:vztmpl/ubuntu-22.04-docker.tar.zst

resourse_pool: ansible
resourse_pool_comment: Created with a little help of Ansible

comment: Created with a little help of Ansible
cores: 2
mem: 2048
disk_size: 10
disk_storage: local-lvm

net_br: vmbr1
net_vlan: 13
net_cidr: 24
net_gw: 192.168.13.1
net_dns: 192.168.13.1
net_domain: "{{ inventory__homelab_domain }}"

# Файл с ключами должен находиться на сервере Proxmox
ssh_keys: ~/.ssh/authorized_keys
user_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34643634393431303738356139303236326233363239383033663765303963373665373531363164
          6238636539323030396539393761366130333438356633640a643637646265363161653530326338
          62666634623332613536343136663831323130633630656232653063353733366139633934376663
          3461666539636565650a666466663037633463313165393830363136326138366133356535366264
          3733
