---
- name: restart wireguard
  ansible.builtin.service:
    name: wg-quick@{{ vps_wg_interface }}
    enabled: true
    state: restarted

- name: save iptables
  ansible.builtin.command:
    cmd: /usr/sbin/netfilter-persistent save
  changed_when: true

- name: restart iptables
  ansible.builtin.service:
    name: netfilter-persistent
    state: restarted
  listen: save iptables

- name: execute antifilter
  ansible.builtin.command:
    cmd: "{{ vps_antifilter_path }}"
  changed_when: true
  listen: restart bird

- name: restart bird
  ansible.builtin.service:
    name: bird
    state: restarted

- name: reload haproxy
  ansible.builtin.service:
    name: haproxy
    state: reloaded
