---
# - name: jackett - create dir
#   ansible.builtin.file:
#     path: "{{ app_path }}/jackett"
#     state: directory
#     recurse: yes
#   tags: jackett

# - name: jackett - copy files
#   ansible.builtin.copy:
#     src: "files/{{ item }}"
#     dest: "{{ app_path }}/jackett"
#     mode: 0644
#     directory_mode: 0755
#   loop:
#     - Definitions
#   notify: jackett - restart
#   tags: jackett

- name: jackett - start
  community.docker.docker_container:
    name: jackett
    image: "{{ jackett_image }}"
    pull: yes
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ tz }}"
    volumes:
      - "{{ app_path }}/jackett/config:/config"
      - "{{ app_path }}/data/downloads:/downloads"
      # - "{{ app_path }}/jackett/Definitions/eniahd.yml:/app/Jackett/Definitions/eniahd.yml:ro"
    networks:
      - name: "{{ app_network_name }}"
    networks_cli_compatible: yes
    labels:
      traefik.enable: "true"
      traefik.http.routers.jackett.rule: "HostRegexp(`jackett{fqdn:(.{{ inventory__homelab_domain }})?}`)"
      traefik.http.services.jackett.loadbalancer.server.port: "9117"
      traefik.http.routers.jackett.entrypoints: "websecure"
      traefik.http.routers.jackett.tls: "true"
    restart_policy: unless-stopped
    state: started
  register: jackett_start
  tags: jackett
