---
- name: minio - start
  community.docker.docker_container:
    name: minio
    image: "{{ minio_image }}"
    pull: true
    user: 1000:1000
    command: server /data --console-address :9001
    ports:
      - "9000:9000"
      - "9001:9001"
    env:
      MINIO_SERVER_URL: "{{ minio_server_url }}"
      MINIO_BROWSER_REDIRECT_URL: "{{ minio_browser_redirect_url }}"
      MINIO_ROOT_USER: "{{ minio_root_user }}"
      MINIO_ROOT_PASSWORD: "{{ minio_root_password }}"
      MINIO_PROMETHEUS_AUTH_TYPE: public
      MINIO_PROMETHEUS_URL: https://prometheus.k8s.{{ inventory__site }}
      MINIO_PROMETHEUS_JOB_ID: minio
    volumes:
      - "{{ app_path }}/data/minio/data:/data"
    networks:
      - name: "{{ app_network_name }}"
    networks_cli_compatible: true
    labels:
      traefik.enable: "true"
      traefik.http.routers.minio.rule: "HostRegexp(`s3{fqdn:(.{{ inventory__homelab_domain }})?}`)"
      traefik.http.services.minio-svc.loadbalancer.server.port: "9000"
      traefik.http.routers.minio.entrypoints: "websecure"
      traefik.http.routers.minio.tls: "true"
      traefik.http.routers.minio.service: minio-svc
      traefik.http.routers.minio-console.rule: "HostRegexp(`minio{fqdn:(.{{ inventory__homelab_domain }})?}`)"
      traefik.http.services.minio-console-svc.loadbalancer.server.port: "9001"
      traefik.http.routers.minio-console.entrypoints: "websecure"
      traefik.http.routers.minio-console.tls: "true"
      traefik.http.routers.minio-console.service: minio-console-svc
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart_policy: unless-stopped
    state: started
  tags: minio
