---
- name: radarr - start
  community.docker.docker_container:
    name: radarr
    image: "{{ radarr_image }}"
    pull: yes
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ tz }}"
    volumes:
      - "{{ app_path }}/radarr/config:/config"
      - "{{ app_path }}/data/downloads:/downloads"
    networks:
      - name: "{{ app_network_name }}"
    networks_cli_compatible: yes
    labels:
      traefik.enable: "true"
      traefik.http.routers.radarr.rule: "HostRegexp(`radarr{fqdn:(.{{ inventory__homelab_domain }})?}`)"
      traefik.http.services.radarr.loadbalancer.server.port: "7878"
      traefik.http.routers.radarr.entrypoints: "websecure"
      traefik.http.routers.radarr.tls: "true"
    restart_policy: unless-stopped
    state: started
  tags: radarr
