---
- name: Ensure directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /etc/modules-load.d
    - /etc/modprobe.d

- name: Configure kernel modules
  ansible.builtin.copy:
    src: files/{{ item.src }}
    dest: "{{ item.dest }}"
    mode: "0644"
  loop:
    - { src: kvm.conf, dest: /etc/modprobe.d }
    - { src: kvm-intel.conf, dest: /etc/modprobe.d }
    - { src: modules-proxmox.conf, dest: /etc/modules-load.d/proxmox.conf }

- name: Set sysctl entries
  ansible.posix.sysctl:
    sysctl_file: /etc/sysctl.d/delayacct.conf
    name: kernel.task_delayacct
    value: "1"
    sysctl_set: true
    reload: true
    state: present

- name: Edit grub config
  ansible.builtin.lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX_DEFAULT='
    line: 'GRUB_CMDLINE_LINUX_DEFAULT="quiet delayacct intel_iommu=on iommu=pt"'
  notify: update-grub
