---
- name: Tasks for specific hosts
  block:
    - name: Install packages
      ansible.builtin.package:
        state: present
        name:
          - nut

    - name: Copy config files
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: "{{ nut_config_path }}/{{ item }}"
        owner: root
        group: nut
        mode: 0640
      loop:
        - nut.conf
        - ups.conf
        - upsd.conf
        - upsd.users
        - upsmon.conf
      notify: restart nut
  when: inventory_hostname == "spsrv"
