---
- name: Uci commit
  community.openwrt.uci:
    command: commit

- name: Reload system
  community.openwrt.service:
    name: system
    state: reloaded

- name: Reload uhttpd
  community.openwrt.service:
    name: uhttpd
    state: reloaded

- name: Reload dropbear
  community.openwrt.service:
    name: dropbear
    state: reloaded

- name: Reload firewall
  community.openwrt.service:
    name: firewall
    state: reloaded

- name: Reload network
  community.openwrt.service:
    name: network
    state: reloaded

- name: Reload dhcp
  community.openwrt.service:
    name: odhcpd
    state: reloaded

- name: Reload dnsmasq
  community.openwrt.service:
    name: dnsmasq
    state: reloaded
  listen: Reload dhcp

- name: Reload podkop
  community.openwrt.service:
    name: podkop
    state: reloaded

- name: Reload wireless
  community.openwrt.command:
    cmd: /sbin/wifi {{ item }}
  register: _reload_wireless_status
  changed_when: _reload_wireless_status != 0
  loop:
    - config
    - reload

- name: Restart wireguard
  community.openwrt.command:
    cmd: ifdown {{ item }} && ifup {{ item }}
    uses_shell: true
  changed_when: true
  loop: "{{ _wg_instances_changed }}"

- name: Restart node-exporter
  community.openwrt.service:
    name: prometheus-node-exporter-lua
    state: restarted

- name: Restart nginx
  community.docker.docker_container:
    name: nginx
    state: started
    restart: true
  when: not _nginx_start.changed
