---
- name: Uci commit
  uci:
    command: commit

- name: Reload system
  ansible.builtin.service:
    name: system
    state: reloaded

- name: Reload uhttpd
  ansible.builtin.service:
    name: uhttpd
    state: reloaded

- name: Reload dropbear
  ansible.builtin.service:
    name: dropbear
    state: reloaded

- name: Reload firewall
  ansible.builtin.service:
    name: firewall
    state: reloaded

- name: Reload network
  ansible.builtin.service:
    name: network
    state: reloaded

- name: Reload dhcp
  ansible.builtin.service:
    name: odhcpd
    state: reloaded

- name: Reload dnsmasq
  ansible.builtin.service:
    name: dnsmasq
    state: reloaded
  listen: Reload dhcp

- name: Reload podkop
  ansible.builtin.service:
    name: podkop
    state: reloaded

- name: Reload wireless
  ansible.builtin.command:
    cmd: /sbin/wifi {{ item }}
  register: _reload_wireless_status
  changed_when: _reload_wireless_status != 0
  loop:
    - config
    - reload

- name: Restart wireguard
  ansible.builtin.shell:
    cmd: ifdown {{ item.interface }} && ifup {{ item.interface }}
  changed_when: true
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ openwrt_wireguard }}"

- name: Restart node-exporter
  ansible.builtin.service:
    name: prometheus-node-exporter-lua
    state: restarted

- name: Restart nginx
  community.docker.docker_container:
    name: nginx
    state: started
    restart: true
  when: not _nginx_start.changed
