---
rclone_version: v1.61.1
rclone_url: https://github.com/rclone/rclone/releases/download/{{ rclone_version }}/rclone-{{ rclone_version }}-linux-amd64.deb

rclone_config_location: /root/.config/rclone/rclone.conf

rclone_jobs_path: /opt/rclone-jobs
rclone_jobs:
  - name: rclone-rcat-minio
    type: rcat
    src: $(find /mnt/tank0/ds0/minio/.zfs/snapshot -maxdepth 1 -type d | grep zfs-auto-snap_daily-"$(date --iso="date")")
    dest: "gdrive-spnas-minio:/backup/zfs-auto-snap_daily.tar.zst"
    exclude: "--exclude=data/loki --exclude=data/.minio.sys/buckets/loki"
    post_cmd: umount /mnt/tank0/ds0/minio/.zfs/snapshot/* > /dev/null 2>&1
    weekday: "*"
    hour: "08"
  - name: rclone-sync-proxmox
    type: sync
    src: /mnt/tank0/ds0/proxmox/dump
    dest: "gdrive-spnas-proxmox:"
    weekday: "*"
    hour: "03"
  - name: rclone-sync-downloads
    type: sync
    src: /mnt/storage/downloads
    dest: "gdrive-spnas-downloads:"
    exclude: "--exclude incomplete/** --exclude tmp/**"
    weekday: "2,5"
    hour: "05"
  - name: rclone-sync-cloud
    type: sync
    src: /mnt/tank0/ds0/cloud
    dest: "gdrive-spnas-cloud:"
    exclude: "--exclude .dropbox.cache/** --exclude data/appdata_ocadc83b19e7/preview/**"
    weekday: "3,6"
    hour: "05"
