---
- name: homeassistant - restart
  community.docker.docker_container:
    name: homeassistant
    state: started
    restart: true
  when: not homeassistant_start.changed

- name: esphome - restart
  community.docker.docker_container:
    name: esphome
    state: started
    restart: true
  when: not esphome_start.changed

- name: frigate - restart
  community.docker.docker_container:
    name: frigate
    state: started
    restart: true
  when: not frigate_start.changed

- name: mosquitto - restart
  community.docker.docker_container:
    name: mosquitto
    state: started
    restart: true
  when: not mosquitto_start.changed
