default_config:
wake_on_lan:
media_player:

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
yeelight: !include yeelight.yaml
light: !include lights.yaml

recorder:
  commit_interval: 30

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.0.0/16

influxdb:
  api_version: 1
  host: 192.168.12.98
  port: 8086
  database: ha_vlublino
  max_retries: 3
  default_measurement: state
  exclude:
    domains:
      - automation
      - device_tracker

camera:
  - platform: xiaomi_cloud_map_extractor
    host: 192.168.20.47
    token: !secret xiaomi_vacuum_token
    username: !secret xiaomi_cloud_username
    password: !secret xiaomi_cloud_password
    draw: ['all']
    colors:
      color_map_outside: [255, 255, 255, 0]
      color_path: [255, 255, 255]
    map_transformation:
      scale: 2
      trim:
        top: 28
        bottom: 22
        left: 20
        right: 20
    sizes:
      charger_radius: 4
      vacuum_radius: 6.5
    attributes:
      - calibration_points
      - charger
      - goto
      - goto_path
      - goto_predicted_path
      - image
      - is_empty
      - map_name
      - no_go_areas
      - no_mopping_areas
      - obstacles
      - path
      - room_numbers
      - rooms
      - vacuum_position
      - vacuum_room
      - walls
      - zones
    scan_interval:
      seconds: 10
    auto_update: true

binary_sensor:
  - platform: template
    sensors:
      bathroom_motion_sensors:
        friendly_name: Ванная Датчики движения
        device_class: motion
        value_template: >-
          {% raw %}{{ is_state('binary_sensor.lumi_lumi_sensor_motion_3bf39503_ias_zone', 'on')
          or is_state('binary_sensor.lumi_lumi_sensor_motion_ias_zone', 'on') }}{% endraw %}

gismeteo:
  vlublino:

yandex_smart_home:
  filter:
    include_domains:
      - light
      - climate
      - vacuum
    include_entities:
      - humidifier.xiaomi_humidifier
      - sensor.living_room_temperature
      - sensor.bedroom_temperature
      - sensor.kitchen_temperature
      - sensor.bathroom_temperature
    exclude_entity_globs:
      - climate.kholodilnik_*
  entity_config:
    humidifier.xiaomi_humidifier:
      name: Увлажнитель
      properties:
        - type: temperature
          entity: sensor.xiaomi_humidifier_temperature
        - type: humidity
          entity: sensor.xiaomi_humidifier_humidity
        - type: water_level
          entity: sensor.xiaomi_humidifier_water_level
        - type: event.open
          entity: binary_sensor.xiaomi_humidifier_water_tank
      events:
        open:
          'opened': 'off' # бак снят
          'closed': 'on' # бак установлен
      custom_toggles:
        controls_locked: # блокировка управления
          state_entity_id: switch.xiaomi_humidifier_child_lock
          turn_on:
            action: switch.turn_on
            entity_id: switch.xiaomi_humidifier_child_lock
          turn_off:
            action: switch.turn_off
            entity_id: switch.xiaomi_humidifier_child_lock
        backlight: # подсветка
          state_template: '{% raw %}{{ not is_state("select.xiaomi_humidifier_led_brightness", "off") }}{% endraw %}'
          turn_on:
            action: select.select_option
            entity_id: select.xiaomi_humidifier_led_brightness
            data:
              option: dim # или bright
          turn_off:
            action: select.select_option
            entity_id: select.xiaomi_humidifier_led_brightness
            data:
              option: 'off'
    sensor.living_room_temperature:
      name: Датчик климата
      properties:
        - type: temperature
          entity: sensor.living_room_temperature
        - type: humidity
          entity: sensor.living_room_humidity
        - type: battery_level
          entity: sensor.living_room_battery_level
    sensor.bedroom_temperature:
      name: Датчик климата
      properties:
        - type: temperature
          entity: sensor.bedroom_temperature
        - type: humidity
          entity: sensor.bedroom_humidity
        - type: battery_level
          entity: sensor.bedroom_battery_level
    sensor.kitchen_temperature:
      name: Датчик климата
      properties:
        - type: temperature
          entity: sensor.kitchen_temperature
        - type: humidity
          entity: sensor.kitchen_humidity
        - type: battery_level
          entity: sensor.kitchen_battery_level
    sensor.bathroom_temperature:
      name: Датчик климата
      properties:
        - type: temperature
          entity: sensor.bathroom_temperature
        - type: humidity
          entity: sensor.bathroom_humidity
        - type: battery_level
          entity: sensor.bathroom_battery_level
