temperatura_v_kvartire:
  name: Температура в квартире
  entities:
    - sensor.bathroom_temperature
    - sensor.bedroom_temperature
    - sensor.kitchen_temperature
    - sensor.living_room_temperature
