telegram_bot_api_key: {{ homeassistant_telegram_bot_api_key }}
telegram_bot_chat_id: {{ homeassistant_telegram_bot_chat_id }}

xiaomi_vacuum_token: {{ homeassistant_xiaomi_vacuum_token }}

xiaomi_cloud_username: {{ homeassistant_xiaomi_cloud_username }}
xiaomi_cloud_password: {{ homeassistant_xiaomi_cloud_password }}
