devices:
  192.168.20.50:
    name: Прихожая 1
    model: ceiling24
    transition: 1000
  192.168.20.51:
    name: Прихожая 2
    model: ceiling24
    transition: 1000
  192.168.20.52:
    name: Прихожая 3
    model: ceiling24
    transition: 1000
  192.168.20.53:
    name: Ванная
    model: ceiling24
    transition: 1000
  192.168.20.54:
    name: Туалет
    model: ceiling24
    transition: 1000
  192.168.20.55:
    name: Гостиная
    model: ceiling15
    transition: 1000
    nightlight_switch_type: light
  192.168.20.56:
    name: Спальня
    model: ceiling15
    transition: 1000
    nightlight_switch_type: light
  192.168.20.57:
    name: Кухня
    model: ceiling15
    transition: 1000
    nightlight_switch_type: light
  192.168.20.58:
    name: Настольная лампа
    model: color4
    transition: 1000
  192.168.20.59:
    name: Торшер
    model: color4
    transition: 1000
  192.168.20.61:
    name: Лампочка 1
    model: colorc
    transition: 1000
  192.168.20.62:
    name: Лампочка 2
    model: colorc
    transition: 1000
  192.168.20.63:
    name: Лампочка 3
    model: colorc
    transition: 1000
