---
- name: Update postfix lookup tables
  ansible.builtin.command: >
    postmap /etc/postfix/{{ item }}
  loop:
    - sasl_passwd
    - smtp_generic_maps
  listen: postfix config changed
  changed_when: true

- name: Restart postfix
  ansible.builtin.service:
    name: postfix
    state: restarted
  listen: postfix config changed

- name: Send test mail  # noqa: risky-shell-pipe
  ansible.builtin.shell: >
    echo "test mail" | mail -s "This is a test from {{ inventory_hostname }}" root
  changed_when: false
  listen: postfix config changed
