---
vps_wan_interface: eth0

vps_wg_config_path: /etc/wireguard
vps_wg_port: 51820

vps_antifilter_path: /opt/antifilter/antifilter.sh
vps_bird_config_path: /etc/bird

wg_pia_image: thrnz/docker-wireguard-pia:latest
wg_pia_user: "{{ inventory__piavpn_user }}"
wg_pia_pass: "{{ inventory__piavpn_pass }}"
# https://serverlist.piaservers.net/vpninfo/servers/v6
wg_pia_location: swiss
wg_pia_local_network: ""
wg_pia_firewall: "0"
wg_pia_fwd_iface: wg1
wg_pia_post_up: ip rule add from $(ip -br address show dev {{ vps_wan_interface }} | awk '{print $3}' | awk -F/ '{print $1}') lookup main

# vps_iptables_forward_ports:
#   - { port: "80", proto: "tcp", comment: "http", to_dest: "{{ vps_wg_peers[0].private_ip }}", to_port: 8080 }
#   - { port: "443", proto: "tcp", comment: "https", to_dest: "{{ vps_wg_peers[0].private_ip }}", to_port: 8443 }
