server=/{{ app_base_domain }}/{{ pihole_forward_dns }}
server=/10.168.192.in-addr.arpa/{{ pihole_forward_dns }}
server=/11.168.192.in-addr.arpa/{{ pihole_forward_dns }}
server=/12.168.192.in-addr.arpa/{{ pihole_forward_dns }}
server=/13.168.192.in-addr.arpa/{{ pihole_forward_dns }}
server=/14.168.192.in-addr.arpa/{{ pihole_forward_dns }}
server=/16.168.192.in-addr.arpa/{{ pihole_forward_dns }}
server=/20.168.192.in-addr.arpa/{{ pihole_forward_dns }}
