---
- name: haproxy - install packages
  ansible.builtin.package:
    state: present
    name:
      - haproxy

- name: haproxy - generate DH parameters
  ansible.builtin.command:
    cmd: openssl dhparam -out /etc/haproxy/dh2048.pem 2048
    creates: /etc/haproxy/dh2048.pem

- name: haproxy - create certs directory
  ansible.builtin.file:
    path: /etc/haproxy/certs
    state: directory
    mode: "0750"

- name: haproxy - copy cert
  ansible.builtin.copy:
    content: "{{ inventory__ssl_certificate }}\n{{ inventory__ssl_private_key }}\n"
    dest: /etc/haproxy/certs/devmem-ru-wildcard.pem
    mode: "0640"
  no_log: true
  notify: reload haproxy

- name: haproxy - copy configuration
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: "0644"
    validate: haproxy -f %s -c
  notify: reload haproxy

- name: haproxy - enable and start service
  ansible.builtin.service:
    name: haproxy
    state: started
    enabled: true

- name: haproxy - flush handlers
  ansible.builtin.meta: flush_handlers
