---
- name: haproxy - set sysctl entries
  ansible.posix.sysctl:
    sysctl_file: /etc/sysctl.d/99-haproxy.conf
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_set: true
    reload: true
    state: present
  loop:
    - { name: net.ipv4.ip_nonlocal_bind, value: "1" }
    - { name: net.ipv4.ip_local_port_range, value: "10000 65535" }
    - { name: net.ipv4.tcp_slow_start_after_idle, value: "0" }
    - { name: net.ipv4.tcp_tw_reuse, value: "1" }
    - { name: net.ipv4.tcp_fastopen, value: "3" }
    - { name: net.ipv4.tcp_fin_timeout, value: "30" }
    - { name: net.netfilter.nf_conntrack_tcp_timeout_time_wait, value: "30" }
    - { name: net.core.somaxconn, value: "65535" }
    - { name: net.core.netdev_max_backlog, value: "10000" }
    - { name: net.ipv4.tcp_max_syn_backlog, value: "8192" }
    - { name: net.ipv4.tcp_synack_retries, value: "3" }

- name: haproxy - install packages
  ansible.builtin.package:
    state: present
    name:
      - haproxy

- name: haproxy - generate DH parameters
  ansible.builtin.command:
    cmd: openssl dhparam -out /etc/haproxy/dh2048.pem 2048
    creates: /etc/haproxy/dh2048.pem

- name: haproxy - create certs directory
  ansible.builtin.file:
    path: /etc/haproxy/certs
    state: directory
    mode: "0750"

- name: haproxy - copy cert
  ansible.builtin.copy:
    content: "{{ inventory__ssl_certificate }}\n{{ inventory__ssl_private_key }}\n"
    dest: /etc/haproxy/certs/devmem-ru-wildcard.pem
    mode: "0640"
  no_log: true
  notify: reload haproxy

- name: haproxy - copy configuration
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: "0644"
    validate: haproxy -f %s -c
  notify: reload haproxy

- name: haproxy - enable and start service
  ansible.builtin.service:
    name: haproxy
    state: started
    enabled: true

- name: haproxy - flush handlers
  ansible.builtin.meta: flush_handlers
