---
- name: wireguard tasks
  ansible.builtin.include_tasks: wireguard.yml

- name: antifilter tasks
  ansible.builtin.include_tasks: antifilter.yml

- name: bird tasks
  ansible.builtin.include_tasks: bird.yml

- name: haproxy tasks
  ansible.builtin.include_tasks: haproxy.yml
