---
- name: wireguard tasks
  ansible.builtin.include_tasks: wireguard.yml

- name: antifilter tasks
  ansible.builtin.include_tasks: antifilter.yml
  when: antifilter_enabled | default(false) | bool

- name: bird tasks
  ansible.builtin.include_tasks: bird.yml
  when: bird_enabled | default(false) | bool

- name: haproxy tasks
  ansible.builtin.include_tasks: haproxy.yml
  when: haproxy_enabled | default(false) | bool

- name: wg pia tasks
  ansible.builtin.include_tasks: wg_pia.yml
  when: wg_pia_enabled | default(false) | bool
