---
- name: wg-pia - set sysctl entry
  ansible.posix.sysctl:
    sysctl_file: /etc/sysctl.d/99-src-valid-mark.conf
    name: net.ipv4.conf.all.src_valid_mark
    value: "1"
    sysctl_set: true
    reload: true
    state: present

- name: wg-pia - start
  community.docker.docker_container:
    name: wg-pia
    image: "{{ wg_pia_image }}"
    image_name_mismatch: recreate
    pull: true
    env:
      LOC: "{{ wg_pia_location }}"
      USER: "{{ wg_pia_user }}"
      PASS: "{{ wg_pia_pass }}"
      LOCAL_NETWORK: "{{ wg_pia_local_network }}"
      FIREWALL: "{{ wg_pia_firewall | string }}"
      FWD_IFACE: "{{ wg_pia_fwd_iface }}"
      POST_UP: "{{ wg_pia_post_up }}"
    volumes:
      - "pia:/pia"
      - "pia-shared:/pia-shared"
    capabilities:
      - net_admin
    network_mode: host
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS --retry 3 {{ inventory__healthchecksio_url }}/wg-pia || exit 1"]
      interval: 60s
      timeout: 20s
      retries: 1
    restart_policy: unless-stopped
    state: started
  no_log: true
