---
- name: Wireguard | Install packages
  ansible.builtin.package:
    state: present
    name:
      - iptables-persistent

- name: Wireguard | Create directories
  ansible.builtin.file:
    path: "{{ vps_wireguard_config_path }}"
    state: directory
    mode: "0700"

- name: Wireguard | Copy configuration
  ansible.builtin.template:
    src: wireguard.conf.j2
    dest: "{{ vps_wireguard_config_path }}/{{ item.interface }}.conf"
    mode: "0600"
  no_log: true
  register: _wireguard_config
  notify: Restart wireguard instance
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ vps_wireguard }}"

- name: Wireguard | Configure iptables - accept forward
  ansible.builtin.iptables:
    chain: FORWARD
    policy: ACCEPT
  notify: save iptables

- name: Wireguard | Make changed instances list
  ansible.builtin.set_fact:
    _instances_changed: "{{ _wireguard_config.results | selectattr('changed', 'equalto', true) | map(attribute='item') | map(attribute='interface') | list }}"

- name: Wireguard | Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Wireguard | Enable and start service instance
  ansible.builtin.service:
    name: wg-quick@{{ item.interface }}
    enabled: true
    state: started
  when:
    - not ansible_check_mode
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ vps_wireguard }}"

# - name: Wireguard | Configure iptables - forwarding from {{ vps_wan_interface }} to {{ vps_wg_interface }}
#   ansible.builtin.iptables:
#     chain: FORWARD
#     in_interface: "{{ vps_wan_interface }}"
#     out_interface: "{{ vps_wg_interface }}"
#     jump: ACCEPT
#     action: insert
#     comment: "forwarding from {{ vps_wan_interface }} to {{ vps_wg_interface }}"
#   notify: save iptables

# - name: Wireguard | Configure iptables - forwarding from {{ vps_wg_interface }} to {{ vps_wan_interface }}
#   ansible.builtin.iptables:
#     chain: FORWARD
#     in_interface: "{{ vps_wg_interface }}"
#     out_interface: "{{ vps_wan_interface }}"
#     ctstate:
#       - RELATED
#       - ESTABLISHED
#     jump: ACCEPT
#     action: insert
#     comment: "forwarding from {{ vps_wg_interface }} to {{ vps_wan_interface }}"
#   notify: save iptables

# - name: Wireguard | Configure iptables - masquerade
#   ansible.builtin.iptables:
#     table: nat
#     chain: POSTROUTING
#     out_interface: "{{ vps_wan_interface }}"
#     jump: MASQUERADE
#     action: insert
#     comment: "masquerade for {{ vps_wan_interface }}"
#   notify: save iptables

# - name: Wireguard | Configure iptables - forward ports
#   ansible.builtin.iptables:
#     table: nat
#     chain: PREROUTING
#     in_interface: "{{ vps_wan_interface }}"
#     protocol: "{{ item.proto }}"
#     destination_port: "{{ item.port }}"
#     to_destination: "{{ item.to_dest }}:{{ item.to_port }}"
#     jump: DNAT
#     action: insert
#     comment: "{{ item.comment }}"
#   loop: "{{ vps_iptables_forward_ports }}"
#   notify: save iptables

# - name: Wireguard | Configure iptables - SNAT
#   ansible.builtin.iptables:
#     table: nat
#     chain: POSTROUTING
#     source: "{{ vps_wg_peers[0].public_ip }}"
#     protocol: "{{ item.proto }}"
#     destination_port: "{{ item.to_port }}"
#     to_source: "{{ vps_wg_private_ip }}"
#     out_interface: "{{ vps_wg_interface }}"
#     jump: SNAT
#     action: insert
#     comment: "{{ item.comment }}"
#   loop: "{{ vps_iptables_forward_ports }}"
#   notify: save iptables
