jenkins:
  numExecutors: 0
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  securityRealm:
    ldap:
      configurations:
      - server: "{{ inventory__ldap_domain }}"
        rootDN: "{{ inventory__ldap_base_dn }}"
        managerDN: "{{ jenkins_ldap_bind_dn }}"
        managerPasswordSecret: "{{ jenkins_ldap_bind_pw }}"
        userSearch: "{{ jenkins_ldap_user_search }}"
        inhibitInferRootDN: false
      disableMailAddressResolver: false
      disableRolePrefixing: true
      groupIdStrategy: "caseInsensitive"
      userIdStrategy: "caseInsensitive"
  clouds:
  - docker:
      name: "docker"
      dockerApi:
        dockerHost:
          uri: "unix:///var/run/docker.sock"
      templates:
      - connector: "attach"
        dockerTemplateBase:
          image: "jenkins/agent:latest"
          user: "root"
          mounts:
          - "type=bind,source=/usr/bin/docker,destination=/usr/bin/docker"
          - "type=bind,source=/var/run/docker.sock,destination=/var/run/docker.sock"
        instanceCapStr: "99"
        labelString: "worker"
        name: "worker"
        remoteFs: "/home/jenkins/agent"
        removeVolumes: true
unclassified:
  location:
    adminAddress: "{{ inventory__smtp_username }}"
    url: "{{ jenkins_url }}"
  giteaServers:
    servers:
    - displayName: "Gitea"
      manageHooks: false
      serverUrl: "{{ gitea_root_url }}"
  ansiColorBuildWrapper:
    globalColorMapName: "xterm"
  timestamper:
    allPipelines: true
  email-ext:
    adminRequiredForTemplateTesting: false
    allowUnregisteredEnabled: true
    charset: "UTF-8"
    debugMode: false
    defaultBody: "^${JELLY_SCRIPT,template=\"html-with-health-and-console\"}"
    defaultContentType: "text/html"
    defaultRecipients: "jenkins@{{ inventory__site }}"
    defaultSubject: "[ci] $PROJECT_NAME - build #$BUILD_NUMBER - $BUILD_STATUS"
    defaultTriggerIds:
    - "hudson.plugins.emailext.plugins.trigger.AlwaysTrigger"
    - "hudson.plugins.emailext.plugins.trigger.FailureTrigger"
    listId: "<{{ jenkins_host }}>"
    mailAccount:
      credentialsId: "common-smtp-noreply"
      smtpHost: "{{ inventory__smtp_host }}"
      smtpPort: "{{ inventory__smtp_port }}"
      useTls: true
    maxAttachmentSize: 20971520
    maxAttachmentSizeMb: 20
    precedenceBulk: true
    watchingEnabled: false
credentials:
  system:
    domainCredentials:
    - credentials:
      - giteaAccessToken:
          description: "gitea-piv-token"
          id: "gitea-piv-token"
          scope: GLOBAL
          token: "{{ jenkins_gitea_token }}"
      - basicSSHUserPrivateKey:
          description: "jenkins-ssh-key"
          id: "jenkins-ssh-key"
          scope: GLOBAL
          username: "root"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ jenkins_ssh_key | string | indent(width=16) }}
      - string:
          description: "ansible-homelab-vault-password"
          id: "ansible-homelab-vault-password"
          scope: GLOBAL
          secret: "{{ jenkins_ansible_homelab_vault_password }}"
      - string:
          description: "ansible-vault-password"
          id: "ansible-vault-password"
          scope: GLOBAL
          secret: "{{ jenkins_ansible_vault_password }}"
      {% for key in inventory__sshd_authorized_keys -%}
      - string:
          description: "ssh-pub-key-{{ key.split(' ')[-1] | replace('@','-') }}"
          id: "ssh-pub-key-{{ key.split(' ')[-1] | replace('@','-') }}"
          scope: GLOBAL
          secret: "{{ key }}"
      {% endfor -%}
      - usernamePassword:
          description: "gitea-user"
          id: "gitea-user"
          scope: GLOBAL
          username: "{{ jenkins_gitea_user }}"
          password: "{{ jenkins_gitea_user_password }}"
      - usernamePassword:
          description: "terraform-backend"
          id: "terraform-backend"
          scope: GLOBAL
          username: "{{ jenkins_terraform_backend_user }}"
          password: "{{ jenkins_terraform_backend_password }}"
      - usernamePassword:
          description: "proxmox-api-hashi"
          id: "proxmox-api-hashi"
          scope: GLOBAL
          username: "{{ jenkins_proxmox_api_user }}"
          password: "{{ jenkins_proxmox_api_token }}"
      - usernamePassword:
          description: "common-smtp-noreply"
          id: "common-smtp-noreply"
          scope: GLOBAL
          username: "{{ inventory__smtp_username }}"
          password: "{{ inventory__smtp_password }}"
jobs:
# https://jenkinsci.github.io/job-dsl-plugin/#path/organizationFolder
# https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/integrations/src/test/resources/io/jenkins/plugins/casc/SeedJobTest_withGiteaOrganisation.yml
  - script: >
      organizationFolder('piv') {
        description('Personal Gitea Repos')
        organizations {
          gitea {
            serverUrl("{{ gitea_root_url }}")
            repoOwner("piv")
            credentialsId("gitea-piv-token")

            traits {
              giteaExcludeArchivedRepositories {}
              giteaTagDiscovery {}
              giteaBranchDiscovery {
                strategyId(1)
              }
              giteaPullRequestDiscovery {
                strategyId(2)
              }
              giteaForkDiscovery {
                strategyId(1)
                trust {
                  giteaTrustContributors {}
                }
              }
              giteaWebhookRegistration {
                mode('ITEM')
              }
            }
          }
        }
        configure { node ->
            node / triggers / 'com.cloudbees.hudson.plugins.folder.computed.PeriodicFolderTrigger' {
              spec('H H/4 * * *')
              interval(86400000)
            }
          }
      }
