---
app_path: /docker/mail

mailserver_version: 10.5.0

mail_image: mailserver/docker-mailserver:{{ mailserver_version }}
mail_autodiscover_image: monogramm/autodiscover-email-settings:latest

mail_hostname: mail
mail_domainname: "{{ inventory__site }}"

mail_cert_name: cert
mail_cert_path: /tmp/certs
mail_cert_path_host: "{{ app_path }}/certs"
mail_config_path_host: "{{ app_path }}/config"

mail_ldap_starttls: "yes"
mail_ldap_bind_dn: uid=mailsvc,{{ inventory__ldap_sysaccounts_dn }}
mail_ldap_bind_pw: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          35616164366537306131653062343036316262646265363037643839353235303163643061333061
          3432643363393164366566643465356430373966613835320a343163633261306533376336623834
          30313334336561663232353362323863353030396238366639633231663062313236633733346364
          3564303065326536390a653336303433616333633761353465323831653630376331323232656362
          6236

mail_ldap_access_group: mail_users
mail_ldap_access_filter: (objectclass=inetorgperson)(memberof=cn={{ mail_ldap_access_group }},{{ inventory__ldap_groups_dn }})

mail_ldap_query_filter_user: (&{{ mail_ldap_access_filter }}(mail=%s))
mail_ldap_query_filter_group: (&{{ mail_ldap_access_filter }}(mailgroupmember=%s))
mail_ldap_query_filter_alias: (&{{ mail_ldap_access_filter }}(|(mail=%s)(mailalias=%s)))
mail_ldap_query_filter_domain: (&{{ mail_ldap_access_filter }}(|(mail=*@%s)(mailalias=*@%s)(mailgroupmember=*@%s)))

mail_dovecot_pass_filter: (&{{ mail_ldap_access_filter }}(uid=%n))
mail_dovecot_user_filter: (&{{ mail_ldap_access_filter }}(uid=%n))
mail_dovecot_pass_attrs: uid=user,userPassword=password
mail_dovecot_user_attrs: =home=/var/mail/{{ mail_domainname }}/%n,=uid=5000,=gid=5000,=mail=maildir:/var/mail/{{ mail_domainname }}/%n

mail_saslauthd_ldap_filter: (&{{ mail_ldap_access_filter }}(uid=%u))
