#!/bin/sh /etc/rc.common
#
# https://github.com/itdoginfo/allow-domains

START=99

start() {
    DOMAINS=https://raw.githubusercontent.com/itdoginfo/allow-domains/main/Russia/inside-dnsmasq-nfset.lst

    count=0
    while true; do
        if curl -m 3 github.com; then
            curl -f $DOMAINS --output /tmp/dnsmasq.d/domains.lst
            break
        else
            logger -t getdomains "GitHub is not available. Check the internet availability [$count]"
            count=$((count + 1))
        fi
    done

    if dnsmasq --conf-file=/tmp/dnsmasq.d/domains.lst --test 2>&1 | grep -q "syntax check OK"; then
        logger -t getdomains "List of blocked domains updated"
        /etc/init.d/dnsmasq restart
    fi
}
