---
snmp_syslocation: cloud.ru

haproxy_enabled: true

vps_wan_interface: enp3s0

vps_wireguard:
  - interface: wg0
    description: Port forwarding / reverse proxy for homelab
    address: 10.255.255.1/24
    listen_port: 51820
    public_key: ptgafvY1m2aj4FKFwBCeEVylpPjaynqEYm0tQyR3P2c=
    private_key: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      64616661373133633762656331623837623331643766353661393362373238323831666539333438
      6535363539636164643434623664643131386463306232610a373163306432633863633764613831
      66663537353165333134663334666534663537653665386161333835366434613231353561333234
      6235636364663766620a373639383938633366363664356561316136343839383637363338383034
      63393563376435306262383366616332393161303965636166356562616339313633353930626638
      3636323635666234386663343433346565376532393132353035
    post_up:
      - iptables -A FORWARD -i {{ vps_wan_interface }} -o %i -j ACCEPT
      - iptables -A FORWARD -i %i -o {{ vps_wan_interface }} -m state --state RELATED,ESTABLISHED -j ACCEPT
      - iptables -t nat -A POSTROUTING -s 10.255.255.0/24 -o {{ vps_wan_interface }} -j MASQUERADE
    post_down:
      - iptables -D FORWARD -i {{ vps_wan_interface }} -o %i -j ACCEPT
      - iptables -D FORWARD -i %i -o {{ vps_wan_interface }} -m state --state RELATED,ESTABLISHED -j ACCEPT
      - iptables -t nat -D POSTROUTING -s 10.255.255.0/24 -o {{ vps_wan_interface }} -j MASQUERADE
    peers:
      - description: krs
        allowed_ips: 10.255.255.10/32
        public_key: Y6YxXdrCaAS/609owOXLRr17iq7T+NIgRkwQRuMbX2g=
        private_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          35646164333234313634353966636461383735336139316137353363343539363036636363616666
          3664346465653136663734643662363831306335633666380a633364303133366562323063316138
          35396637653633326430643832333931643465336161353138363331633531303665343966366632
          3164336638306530310a623830326366653066376336663830376639666337616332336233323936
          39633665316365356563363536316137393638303739626435623561393566306139666165656634
          3033393064646233383666396330306530343936613130623163
      - description: cml
        allowed_ips: 10.255.255.20/32
        public_key: neMYevYaQuS3xpQPU7yA+c5cmTRXenGhQ7S8EYDLYDw=
        private_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34373136343464316233663136663833383762333435326665653564363639383235343335336339
          3364373765333339623237353331343461646333306234630a383032666632373130303562666663
          34326565333864633631663166613761643234643434623734336165646535323866363430653264
          3734306666383333620a356663336634346363643263366366373238393636656361316463333536
          36396132303236396535303435346134656262346139633439336333613766353039613738323363
          3438643433663437663533633663363739306462313762613533
      - description: gw-krs
        allowed_ips: 10.255.255.11/32
        public_key: FAzXW6hJ7Gb/83ZFcGCyktSVil13/SKvOHBDMYeR2C8=
        private_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38386462623938386439373037386232623164343634623033373434313965653135636438336235
          3432663036663037383932396564376530363731313663300a316362396237383962303165303364
          31383939643736373666633539376366303662636661666434316366633231363063346261376633
          6236353462396663350a366663383335616332633762393030333936333862346336643966666130
          36353862333066316136623166663634343534363830313061353832353333326563393633336365
          3637653738633838326464336366663534346536643339356462
      - description: gw-cml
        allowed_ips: 10.255.255.21/32
        public_key: ITzif8qSoH66k+j7YVr5IDGTWhY8V7sewzqX3X9fwxo=
        private_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          32313636393036343962613332393739356266316134393661616331613763306563393962666334
          3130623131663962386164623535626232373933373539320a623638383566616637666166373765
          65326533316466633831336538333836643836363933376530643437393333383234643230633361
          3232333036303330320a396166653363313635363038383664373034636334353863303433366130
          62376130383035616463363364356462313965323034393761316230626238346534313231316231
          6666653931336136373130396433303739386236336238363630

  - interface: wg8
    description: World
    address: 10.255.254.2/24
    public_key: fZyaKWUEe5MAHUQkiimffxV6P3IBQus091665UEN0S4=
    private_key: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      62643337616631613166346238353031646132333737633963356262333832333661303663393362
      6562306538356530356230393739343534396230313931660a303431646435316430636539336338
      36653633303837656135316531616235346237366432306638653062383134336363636532626231
      3834653864316234380a386661316265376539613236383336643634613131613963636433613362
      61376363656436666638313831336332306431313266343939343136393933663631663339326339
      6563376364653833633066323935386361353366636538393861
    table: "off"
    post_up:
      - ip route add default dev %i table 1045
    pre_down:
      - ip route del default dev %i table 1045
    peers:
      - description: vps-sd-ams
        allowed_ips: 10.255.254.1/32, 0.0.0.0/0
        public_key: N+/pBa/Q6KoSanuTyGiIYweh9MYzuF8naR3oB6F7SSE=
        endpoint: vps-sd-ams.devmem.ru:51820
        persistent_keepalive: 10

  - interface: wg9
    description: Private connections routed through wg8
    address: 10.45.0.1/24
    listen_port: 51821
    public_key: IhrtOPPJFMyn3cfcQ4K+Zz+VdKv0BqnGbTmH8aaX2l8=
    private_key: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      32303934313832626230396338356561316136333965613734306339306536386232633530616137
      3733613139643432353663393563386461323963633532360a343130356132343535393066306263
      30646664393437396331626465653264656339656563656265333466306235326361613762323335
      6239373663393063350a386130383435356636336133663135353965323131643339653033366332
      61363539336663333437663765663863353332333036353261346139363938653862343838653039
      6337316138626235383737373839666131333766376332393163
    post_up:
      - iptables -I FORWARD 1 -i %i -o {{ vps_wan_interface }} -j DROP
      - iptables -A FORWARD -i wg8 -o %i -j ACCEPT
      - iptables -A FORWARD -i %i -o wg8 -m state --state RELATED,ESTABLISHED -j ACCEPT
      - iptables -t nat -A POSTROUTING -s 10.45.0.0/24 -o wg8 -j MASQUERADE
      - ip rule add from 10.45.0.0/24 table 1045
    post_down:
      - iptables -D FORWARD -i %i -o {{ vps_wan_interface }} -j DROP
      - iptables -D FORWARD -i wg8 -o %i -j ACCEPT
      - iptables -D FORWARD -i %i -o wg8 -m state --state RELATED,ESTABLISHED -j ACCEPT
      - iptables -t nat -D POSTROUTING -s 10.45.0.0/24 -o wg8 -j MASQUERADE
      - ip rule del from 10.45.0.0/24 table 1045
    peers:
      - description: spmacbook
        allowed_ips: 10.45.0.2/32
        public_key: jfS8MMiHTCvf2I/F0V4C45m7WkJoZnbpKUoiwWNoKFQ=
        private_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38393137393865313839633863336234616233383438386561383236666439323363356264383933
          3035303532663832366239313566663262393034653431320a353539646661326566393164303762
          37306432346633386338333962316536633537656566313531356631623631333939316637653064
          6539616465353835340a633265363138363065613266656339346563393765616431313932373835
          62396136613364666535636466383263396238383339653530643366656330633037646261323866
          6363623836646238356439326232636636353665613636626137
