---
snmp_syslocation: cloud.ru

vps_wan_interface: enp3s0

vps_wg_interface: wg0
vps_wg_private_ip: 10.255.255.1
vps_wg_privkey: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64616661373133633762656331623837623331643766353661393362373238323831666539333438
          6535363539636164643434623664643131386463306232610a373163306432633863633764613831
          66663537353165333134663334666534663537653665386161333835366434613231353561333234
          6235636364663766620a373639383938633366363664356561316136343839383637363338383034
          63393563376435306262383366616332393161303965636166356562616339313633353930626638
          3636323635666234386663343433346565376532393132353035
vps_wg_pubkey: ptgafvY1m2aj4FKFwBCeEVylpPjaynqEYm0tQyR3P2c=
vps_wg_peers:
  - name: krs
    as: 64646
    pubkey: Y6YxXdrCaAS/609owOXLRr17iq7T+NIgRkwQRuMbX2g=
    private_ip: 10.255.255.10
    public_ip: 81.88.215.162
    state: present
  - name: cml
    as: 64647
    pubkey: neMYevYaQuS3xpQPU7yA+c5cmTRXenGhQ7S8EYDLYDw=
    private_ip: 10.255.255.20
    state: present

haproxy_enabled: true
