{% if ansible_distribution == "Debian" and ansible_distribution_version == "10" %}
deb http://download.proxmox.com/debian/pve buster pve-no-subscription
{% endif %}{% if ansible_distribution == "Debian" and ansible_distribution_version == "11" %}
deb http://download.proxmox.com/debian/pve bullseye pve-no-subscription
{% endif %}
