{% if ansible_distribution == "Debian" and ansible_distribution_version == "10" %}
deb http://mirror.yandex.ru/debian buster main contrib
deb http://mirror.yandex.ru/debian buster-updates main contrib

# security updates
deb http://security.debian.org/debian-security buster/updates main contrib

{% endif %}{% if ansible_distribution == "Debian" and ansible_distribution_version == "11" %}
deb http://mirror.yandex.ru/debian bullseye main contrib
deb http://mirror.yandex.ru/debian bullseye-updates main contrib

# security updates
deb http://security.debian.org bullseye-security main contrib

{% endif %}
