---
- name: Configure APT sources list
  ansible.builtin.template:
    src: sources.list.j2
    dest: /etc/apt/sources.list
    mode: "0644"
  notify: Update APT cache
  become: true
  when: >
    ansible_distribution == "Debian" and ansible_distribution_major_version | int < 13
    or ansible_distribution == "Ubuntu"

- name: Configure APT sources list
  ansible.builtin.template:
    src: debian.sources.j2
    dest: /etc/apt/sources.list.d/debian.sources
    mode: "0644"
  notify: Update APT cache
  become: true
  when:
    - ansible_distribution == "Debian"
    - ansible_distribution_major_version | int >= 13

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
