---
# - name: base | Gather facts
#   community.openwrt.setup:

- name: base | Get current root password
  community.openwrt.command:
    cmd: "grep '^root:' /etc/shadow"
  check_mode: false
  changed_when: false
  register: _shadow
  no_log: true

- name: base | Parse current root password
  ansible.builtin.set_fact:
    _shadow_parsed: "{{ _shadow.stdout | split(':') }}"
  no_log: true

- name: base | Encrypt root password
  ansible.builtin.set_fact:
    _root_password: "{{ openwrt_root_password | string | password_hash('sha512', openwrt_password_salt | string) }}"
  delegate_to: localhost
  no_log: true

- name: base | Set root password
  community.openwrt.lineinfile:
    path: /etc/shadow
    regexp: "^root:([^:]*):"
    line: "{{ 'root:' + _root_password + ':' + _shadow_parsed[2:] | join(':') }}"
  no_log: true

- name: base | Configure system settings
  community.openwrt.uci:
    command: set
    config: system
    section: "@system[0]"
    type: system
    value:
      hostname: "{{ openwrt_system.hostname }}"
      timezone: "{{ openwrt_system.timezone }}"
      zonename: "{{ openwrt_system.zonename }}"
      ttylogin: "{{ openwrt_system.ttylogin }}"
  notify:
    - Uci commit
    - Reload system

- name: base | Enable Luci HTTPS redirect
  community.openwrt.uci:
    command: set
    config: uhttpd
    section: main
    value:
      redirect_https: 1
  notify:
    - Uci commit
    - Reload uhttpd

- name: base | Configure dropbear
  community.openwrt.uci:
    command: set
    config: dropbear
    section: "@dropbear[0]"
    type: dropbear
    value:
      PasswordAuth: "{{ openwrt_dropbear.PasswordAuth }}"
      RootPasswordAuth: "{{ openwrt_dropbear.RootPasswordAuth }}"
  notify:
    - Uci commit
    - Reload dropbear

- name: base | Set dropbear authorized keys
  community.openwrt.copy:
    content: "{{ openwrt_dropbear.authorized_keys | join('\n') }}"
    dest: /etc/dropbear/authorized_keys
    owner: root
    group: root
    mode: "0600"
  notify:
    - Uci commit
    - Reload dropbear
  when: openwrt_dropbear.authorized_keys | default([]) | length > 0

- name: Configure LAN interface
  community.openwrt.uci:
    command: set
    config: network
    section: lan
    type: interface
    value:
      ipaddr: "{{ openwrt_lan.ipaddr | default(omit) }}"
      netmask: "{{ openwrt_lan.netmask | default(omit) }}"
  notify:
    - Uci commit
    - Reload network
  when: openwrt_lan

- name: base | Flush handlers
  ansible.builtin.meta: flush_handlers
