---
- name: dhcp | Create pool for lan
  community.openwrt.uci:
    command: add
    config: dhcp
    section: lan
    type: dhcp
  notify:
    - Uci commit
    - Reload dhcp

- name: dhcp | Configure dhcp pool for lan
  community.openwrt.uci:
    command: set
    config: dhcp
    section: lan
    type: dhcp
    value:
      interface: "{{ openwrt_dhcp.interface | default('lan') }}"
      start: "{{ openwrt_dhcp.start | default('100') }}"
      limit: "{{ openwrt_dhcp.limit | default('100') }}"
      leasetime: "{{ openwrt_dhcp.leasetime | default('24h') }}"
      dhcpv4: "{{ openwrt_dhcp.dhcpv4 | default('server') }}"
      force: "{{ openwrt_dhcp.force | default('0') }}"
      ignore: "{{ openwrt_dhcp.ignore | default('0') }}"
  notify:
    - Uci commit
    - Reload dhcp

- name: dhcp | Disable dhcpv6 for lan
  community.openwrt.uci:
    command: absent
    key: "{{ item }}"
  loop:
    - dhcp.lan.ra
    - dhcp.lan.ra_flags
    - dhcp.lan.dhcpv6
  notify:
    - Uci commit
    - Reload dhcp

- name: dhcp | Configure static leases
  ansible.builtin.include_tasks: dhcp_leases.yml
  loop_control:
    label: "{{ item.name }}"
  loop: "{{ openwrt_dhcp_leases }}"
