---
- name: dhcp_leases | Create and configure static lease
  when:
    - item.state is not defined or item.state == 'present'
  notify:
    - Uci commit
    - Reload dhcp
  block:
    - name: dhcp_leases | Create static lease {{ item.name }}
      community.openwrt.uci:
        command: add
        config: dhcp
        section: "{{ item.id | default('@host[-1]') }}"
        type: host

    - name: dhcp_leases | Configure static lease {{ item.name }}
      community.openwrt.uci:
        command: set
        config: dhcp
        section: "{{ item.id | default('@host[-1]') }}"
        type: host
        value:
          name: "{{ item.name | default(omit) }}"
          ip: "{{ item.ip | default(omit) }}"
          mac: "{{ item.mac | default(omit) }}"
          leasetime: "{{ item.leasetime | default(omit) }}"
          dns: "{{ item.dns | default(omit) }}"

- name: dhcp_leases | Delete static lease {{ item.name }}
  when:
    - item.state is defined
    - item.state == 'absent'
  community.openwrt.uci:
    command: absent
    config: dhcp
    section: "{{ item.id }}"
    type: host
  notify:
    - Uci commit
    - Reload dhcp
