---
- name: wireguard | Install package
  community.openwrt.opkg:
    name: "{{ item }}"
    state: present
  loop:
    - wireguard-tools
    - luci-proto-wireguard
    - qrencode

- name: wireguard | Add interface
  community.openwrt.uci:
    command: add
    config: network
    type: interface
    name: "{{ item.interface }}"
  notify:
    - Uci commit
    - Reload network
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ openwrt_wireguard }}"
  no_log: true

- name: wireguard | Configure interface
  community.openwrt.uci:
    command: set
    config: network
    section: "{{ item.interface }}"
    value:
      proto: wireguard
      private_key: "{{ item.private_key }}"
      listen_port: "{{ item.listen_port | default(omit) }}"
      addresses: "{{ item.addresses }}"
  notify:
    - Uci commit
    - Restart wireguard
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ openwrt_wireguard }}"
  no_log: true
  register: _wg_config

- name: wireguard | Configure peers
  ansible.builtin.include_tasks: wireguard_peers.yml
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ openwrt_wireguard }}"
  when:
    - item.peers is defined

- name: wireguard | Check for changed instances
  ansible.builtin.set_fact:
    _wg_config_changed: >
      {{ _wg_config.results
        | selectattr('changed', 'equalto', true)
        | map(attribute='item')
        | map(attribute='interface')
        | list
      }}
    _wg_peers_changed: >
      {{ _wg_peers_config.results
        | selectattr('changed', 'equalto', true)
        | map(attribute='section')
        | map('regex_replace','^@wireguard_(.*)\[.*','\1')
        | list
      }}
    _wg_peers_deleted: >
      {{ _wg_peers_delete.results
        | selectattr('changed', 'equalto', true)
        | map(attribute='section')
        | map('regex_replace','^@wireguard_(.*)\[.*','\1')
        | list
      }}

- name: wireguard | Make changed instances list
  ansible.builtin.set_fact:
    _wg_instances_changed: "{{ _wg_config_changed | union(_wg_peers_changed) | union(_wg_peers_deleted) | list }}"

- name: wireguard | Configure firewall zone "lan" (site-to-site)
  community.openwrt.uci:
    command: add_list
    config: firewall
    section: "@zone[0]"
    option: network
    value: "{{ item.interface }}"
    unique: true
  notify:
    - Uci commit
    - Reload firewall
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ openwrt_wireguard }}"
  when:
    - item.firewall_zone is defined
    - item.firewall_zone == "lan"

- name: wireguard | Find server interfaces
  ansible.builtin.set_fact:
    _wg_servers: "{{ openwrt_wireguard | selectattr('server', 'defined') | list }}"

- name: wireguard | Configure firewall zone (server)
  community.openwrt.uci:
    command: section
    config: firewall
    type: zone
    find:
      name: "{{ item.interface }}"
    value:
      name: "{{ item.interface }}"
      input: ACCEPT
      output: ACCEPT
      forward: ACCEPT
      masq: 1
      mtu_fix: 1
      network:
        - "{{ item.interface }}"
      family: ipv4
  notify:
    - Uci commit
    - Reload firewall
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ _wg_servers }}"

- name: wireguard | Prepare forwarding rules
  ansible.builtin.set_fact:
    _wg_forwarding: >
      {{ _wg_forwarding | default([]) + [
          {'name': item.interface + '-lan', 'src': item.interface, 'dest': 'lan'},
          {'name': item.interface + '-wan', 'src': item.interface, 'dest': 'wan'},
          {'name': 'lan-' + item.interface, 'src': 'lan', 'dest': item.interface}
        ]
      }}
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ _wg_servers }}"

- name: wireguard | Configure forwarding (server)
  community.openwrt.uci:
    command: section
    config: firewall
    type: forwarding
    find:
      name: "{{ item.name }}"
    value:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
  notify:
    - Uci commit
    - Reload firewall
  loop_control:
    label: "{{ item.name }}"
  loop: "{{ _wg_forwarding }}"
  when:
    - _wg_forwarding is defined

- name: wireguard | Configure masquerading (server)
  community.openwrt.uci:
    command: section
    config: firewall
    type: nat
    find:
      name: "{{ item.interface }}"
    value:
      name: "{{ item.interface }}"
      target: MASQUERADE
      src: lan
      src_ip: "{{ item.addresses[0] }}"
      proto:
        - all
  notify:
    - Uci commit
    - Reload firewall
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ _wg_servers }}"
