---
- name: wireguard | Install package
  community.general.opkg:
    name: "{{ item }}"
    state: present
  loop:
    - wireguard-tools
    - luci-proto-wireguard
    - qrencode

- name: wireguard | Add interface
  uci:
    command: add
    config: network
    type: interface
    name: "{{ item.interface }}"
  notify:
    - Uci commit
    - Reload network
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ openwrt_wireguard }}"

- name: wireguard | Configure interface
  uci:
    command: set
    config: network
    section: "{{ item.interface }}"
    value:
      proto: wireguard
      private_key: "{{ item.private_key }}"
      listen_port: "{{ item.listen_port | default(omit) }}"
      addresses:
        - "{{ item.addresses }}"
  notify:
    - Uci commit
    - Restart wireguard
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ openwrt_wireguard }}"
  no_log: true

- name: wireguard | Configure peers
  ansible.builtin.include_tasks: wireguard_peers.yml
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ openwrt_wireguard }}"

- name: wireguard | Configure firewall zone "lan" (site-to-site)
  uci:
    command: add_list
    config: firewall
    section: "@zone[0]"
    option: network
    value: "{{ item.interface }}"
    unique: true
  notify:
    - Uci commit
    - Reload firewall
  loop_control:
    label: "{{ item.interface }}"
  loop: "{{ openwrt_wireguard }}"
  when:
    - item.firewall_zone is defined
    - item.firewall_zone == "lan"

- name: wireguard | Configure firewall zone "{{ openwrt_wireguard[0].interface }}" (server)
  uci:
    command: section
    config: firewall
    type: zone
    find_by:
      name: "{{ openwrt_wireguard[0].interface }}"
    value:
      name: "{{ openwrt_wireguard[0].interface }}"
      input: ACCEPT
      output: ACCEPT
      forward: ACCEPT
      masq: 1
      mtu_fix: 1
      network:
        - "{{ openwrt_wireguard[0].interface }}"
      family: ipv4
  notify:
    - Uci commit
    - Reload firewall
  when: openwrt_wireguard[0].server is defined

- name: wireguard | Configure forwarding (server)
  uci:
    command: section
    config: firewall
    type: forwarding
    find_by:
      name: "{{ item.name }}"
    value:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
  notify:
    - Uci commit
    - Reload firewall
  loop_control:
    label: "{{ item.name }}"
  loop:
    - name: "{{ openwrt_wireguard[0].interface }}-lan"
      src: "{{ openwrt_wireguard[0].interface }}"
      dest: "lan"
    - name: "{{ openwrt_wireguard[0].interface }}-wan"
      src: "{{ openwrt_wireguard[0].interface }}"
      dest: "wan"
    - name: "lan-{{ openwrt_wireguard[0].interface }}"
      src: "lan"
      dest: "{{ openwrt_wireguard[0].interface }}"
  when: openwrt_wireguard[0].server is defined

- name: wireguard | Configure masquerading (server)
  uci:
    command: section
    config: firewall
    type: nat
    find_by:
      name: "{{ openwrt_wireguard[0].interface }}"
    value:
      name: "{{ openwrt_wireguard[0].interface }}"
      target: MASQUERADE
      src: lan
      src_ip: "{{ openwrt_wireguard[0].addresses }}"
      proto:
        - all
  notify:
    - Uci commit
    - Reload firewall
  when: openwrt_wireguard[0].server is defined
