; <?php die('Access denied'); ?>
[general]
title = "SPNAS"
branch = "master"
theme = "modern"
color = "#31ac63"
mobileoverride = "true"
tabcolor = "true"
rssUrl = "https://www.wired.com/feed/"
userNameInput = "admin"
password = "muximux"

[settings]
branch_changed = ""
enabled = "true"
default = "false"
name = "Settings"
url = "muximux.php"
landingpage = "false"
icon = "fa-cog"
dd = "true"

[Plex]
name = "Plex"
url = "https://plex.{{ inventory__site }}/web/index.html"
scale = 1
icon = "muximux-plex"
color = "#cc7b19"
enabled = "true"
landingpage = "true"
default = "true"

[Tautulli]
name = "Tautulli"
url = "https://tautulli.{{ inventory__site }}"
scale = 1
icon = "muximux-plexivity"
color = "#f9be03"
enabled = "true"

[Ombi]
name = "Ombi"
url = "https://ombi.{{ inventory__site }}"
scale = 1
icon = "muximux-search"
color = "#df691a"
enabled = "true"

[Deluge]
name = "Deluge"
url = "https://deluge.{{ inventory__homelab_domain }}"
scale = 1
icon = "muximux-deluge"
color = "#3d85c6"
enabled = "true"

[Sonarr]
name = "Sonarr"
url = "https://sonarr.{{ inventory__homelab_domain }}"
scale = 1
icon = "muximux-sonarr"
color = "#2193b5"
enabled = "true"

[Radarr]
name = "Radarr"
url = "https://radarr.{{ inventory__homelab_domain }}"
scale = 1
icon = "muximux-radarr"
color = "#ffc230"
enabled = "true"

[Jackett]
name = "Jackett"
url = "https://jackett.{{ inventory__homelab_domain }}"
scale = 1
icon = "muximux-jackett"
color = "#333333"
enabled = "true"

[Lidarr]
name = "Lidarr"
url = "https://lidarr.{{ inventory__homelab_domain }}"
scale = 1
icon = "muximux-lidarr"
color = "#00a65b"
enabled = "true"
dd = "true"

[Bazarr]
name = "Bazarr"
url = "https://bazarr.{{ inventory__homelab_domain }}"
scale = 1
icon = "muximux-bazarr"
color = "#cccccc"
enabled = "true"
dd = "true"

[Monitorrent]
name = "Monitorrent"
url = "https://monitorrent.{{ inventory__homelab_domain }}"
scale = 1
icon = "muximux-calendar2"
color = "#607d8b"
enabled = "true"
dd = "true"
